$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$blue: #0000FF;
$red: #FF0000;
$white: #FFFFFF;

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// Mixins
@mixin flexbox(){
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
  height: 100%;
}

/* Space out content a bit */
body {
  height: 100%;
  font-size: 18px;
}

/* Custom page header */
.header {
  margin: 20px;
  height: 40px;

  .nav-pills > li {
    &.active {
      a, a:hover, a:focus {
        background-color: $blue;
      }
    }
  }

  .nav-pills > li:nth-child(2) {
    &.active {
      a, a:hover, a:focus {
        background-color: $red;
      }
    }
  }

}

.content {
  display: flex;
  margin-right: 20px;
  height: 80%;

  &.bottom-left {
    align-items: flex-end;
    .item-box {
      width: 50%;
    }
  }
  &.top-right {
    justify-content: flex-end;
    .item-box {
      flex-direction: column;
      height: 60%;
    }
  }
  &.center {
    .item-box {
      margin: auto;
      width: 50%;
    }
  }
}

.item-box {
  display: flex;
}

.item {
  display: flex;
  width: 100px;
  height: 100px;
  margin: auto;
  color: $white;
  * {
    margin: auto;
  }
  &.red {
    background-color: $red;
  }
  &.blue {
    background-color: $blue;
  }
}
